<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demo page</title>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'demo/css/my_style.css' %}">

</head>
<body>

<div class="main-div" id="demo_page_content">
    <h3>Hello from demo page</h3>

    <button id="btn_run_celery" type="button">Run celery</button>

    <p id="celery_output_log"></p>
</div>

</body>
</html>