<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demo page</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'demo/css/my_style.css' %}">

</head>
<body>

<div class="main-div" id="demo_page_content">
    <h2 class="items-center">Hello from demo page</h2>

    <div class="items-padding">
        <span class="color-line">&nbsp;&nbsp;</span>
        <label>Only INTEGER numbers pls:</label><br>
        <input value="4" id="input_1_check">
        &nbsp;*&nbsp;
        <input value="-7" id="input_2_check">
        <button id="btn_check_celery" type="button">Check Celery</button>
        &nbsp;Result =&nbsp;
        <input id="res_check" disabled>,
        done in&nbsp;
        <input id="done_in_sec_check" disabled>
        &nbsp;sec
    </div>

    <div class="items-padding">
        <p>
            <span class="color-line">&nbsp;&nbsp;</span>
            Press btn to run test task on 1 CPU and NO Celery
            <button id="btn_1cpu_celery" type="button">1 CPU celery</button>
        </p>
    </div>

    <div class="items-padding">
        <p>
            <span class="color-line">&nbsp;&nbsp;</span>
            Press btn to run test task on 4 CPUs with Celery + RabbitMQ
            <button id="btn_4cpu_celery" type="button">4 CPU celery</button>
        </p>
    </div>

    <div class="items-padding">
        <p>
            <span class="color-line">&nbsp;&nbsp;</span>
            *** By default:
        </p>
        <ul>
            <li>CELERY BROKER = rabitmq</li>
            <li>CELERY RESULT BACKEND = redis</li>
        </ul>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn_check_celery').on('click', fun_check);
            $('#btn_1cpu_celery').on('click', fun_1cpu);
            $('#btn_4cpu_celery').on('click', fun_4cpu);

            function fun_check() {
                var val_1_check = $('#input_1_check').val();
                var val_2_check = $('#input_2_check').val();
                $.ajax({
                    'url': "{% url 'check-celery-ajax' %}",
                    'data': {
                        'input_data_1': val_1_check,
                        'input_data_2': val_2_check
                    },
                    success: function (response_data) {
                        var json_data = jQuery.parseJSON(response_data);
                        $('#res_check').val(json_data['result']);
                        $('#done_in_sec_check').val(json_data['time']);
                    }
                });
            }

            function fun_1cpu() {
                $.ajax({
                    'url': "{% url '1cpu-celery-ajax' %}",
                    success: function (response_data) {
                        var json_data = jQuery.parseJSON(response_data);
                        alert('Finished in ' + json_data['time'] + ' seconds.');
                    }
                })
            }

            function fun_4cpu() {
                $.ajax({
                    'url': "{% url '4cpu-celery-ajax' %}",
                    success: function (response_data) {
                        var json_data = jQuery.parseJSON(response_data);
                        alert('Finished in ' + json_data['time'] + ' seconds.');
                    }
                })
            }
        });
    </script>
</div>

<div class="my-footer items-center">
    Project powered <i class="fas fa-bomb"></i> by:
    <p>
        <img src="{% static 'demo/img/python.png' %}" alt="python" height="150">
        <img src="{% static 'demo/img/django.png' %}" alt="django" height="100">
        <img src="{% static 'demo/img/docker.png' %}" alt="docker" height="100">
        <img src="{% static 'demo/img/celery.png' %}" alt="celery" height="100">
        <img src="{% static 'demo/img/psql.png' %}" alt="psql" height="100">
        <img src="{% static 'demo/img/rabbitmq.png' %}" alt="rabbitmq" height="100">
        <img src="{% static 'demo/img/redis.png' %}" alt="redis" height="100">
    </p>
</div>

</body>
</html>